spring:
  application:
    name: Gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: https://ms-user:8081
              predicates:
                - Path=/user/**
              filters:
                - StripPrefix=1
            - id: auth-service
              uri: https://ms-auth:8088
              predicates:
                - Path=/auth/**
              filters:
                - StripPrefix=1

server:
  port: 8080

# Externalize the JWT Secret. For production use environment variables or a secrets manager
jwt:
  secret: ${JWT_SECRET}
# Logging configuration
logging:
  level:
    org:
      springframework:
        cloud:
          gateway: DEBUG