spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              # Point to localhost because we are running outside Docker
              # We use https because your ms-auth requires mTLS/SSL
              uri: https://localhost:8088
              predicates:
                - Path=/auth/**
              filters:
                - StripPrefix=1

            - id: user-service
              uri: https://localhost:8081 # Assuming ms-user maps to 8081
              predicates:
                - Path=/user/**
              filters:
                - StripPrefix=1

server:
  ssl:
    key-store: file:ssl/gateway-keystore.p12
    trust-store: file:ssl/gateway-truststore.jks
  port: 8090

# Externalize the JWT Secret. For production use environment variables or a secrets manager
jwt:
  secret: ${JWT_SECRET}
# Logging configuration
logging:
  level:
    org:
      springframework:
        cloud:
          gateway: DEBUG

GATEWAY_STORE_PASSWORD: gatewaykeypass
GATEWAY_TRUST_PASSWORD: gatewaytrustpass
JWT_SECRET: YV92ZXJ5X3NlY3VyZV9zZWNyZXRfa2V5X29mXzMyX2J5dGVzX29yX21vcmU=